@model MvcApplication2.Models.Task
           
<ul>
    <p>@Model.Name</p>
    <p>@Model.Priority</p>
    <p>@Model.State</p>
    @Ajax.ActionLink("Подробнее", "GetChildren", new { pid = Model.Id }, new AjaxOptions { UpdateTargetId = "childdiv" + Model.Id, InsertionMode = InsertionMode.Replace })
    @Html.ActionLink("Добавить подзадачу", "NewTaskWindow", new { pid = Model.Id }, new { @class = "newtaskItem" })
    <div id="@("childdiv" + Model.Id)"></div>
</ul>
