@using MvcApplication2.Models
@model IEnumerable<MvcApplication2.Models.Task>
           

    @if (Model != null && Model.Count() > 0)
    {

        foreach (var item in Model)
        {
            <div class="list-group-item" id="@("task"+item.Id)">
                <div>
                    <span>
                        @switch (item.State)
                        {
                            case (StateEnum.New):
                                {
                                    <span class="label label-default" id="sp1">Новая задача</span>
                                }
                                break;
                            case (StateEnum.Active):
                                {
                                    <span class="label label-primary" id="sp1">Активная задача</span>
                                }
                                break;
                            case (StateEnum.Resolved):
                                {
                                    <span class="label label-primary" id="sp1">Задача решена</span>
                                }
                                break;
                            case (StateEnum.Closed):
                                {
                                    <span class="label label-primary" id="sp1">Задача закрыта</span>
                                }
                                break;
                        }

                        @switch (item.Priority)
                        {
                            case (PriorityEnum.High):
                            {
                                <span class="label label-primary" style="background-color: red">Высокий приоритет</span>
                            }
                            break;
                            case (PriorityEnum.Middle):
                            {
                                <span class="label label-primary" style="background-color: chartreuse">Средний приоритет</span>
                            }
                            break;
                            case (PriorityEnum.Low):
                            {
                                <span class="label label-primary" style="background-color: blue">Низкий приоритет</span>
                            }
                            break;
                        }
                        <span class="label label-primary pull-right">@("до "+item.Deadline)</span>

                    </span>
                    
                </div>
                <label>
                    @if (item.State == StateEnum.Active)
                    {
                        <input type="checkbox" id=@("chkbx"+item.Id) onclick="toresolved(@item.Id)">
                    }
                    @item.Name
                </label>
                
                <div id="lnks">
                    @if (item.State == StateEnum.New)
                    {
                        @Ajax.ActionLink("Сделать активной", "SetActive", new { id = item.Id }, new AjaxOptions { UpdateTargetId = "task" + item.Id, InsertionMode = InsertionMode.Replace }, new { @class = "btn btn-default" })
                    }

                    @Ajax.ActionLink("Показать/скрыть подзадачи", "GetChildren", new { pid = item.Id }, new AjaxOptions { UpdateTargetId = "childdiv" + item.Id, InsertionMode = InsertionMode.Replace, OnSuccess = "$('#chldshlnk" + item.Id + "').hide(); $('#chldsha" + item.Id + "').show();afterloadsetting();" }, new { @id = "chldshlnk" + item.Id })

                    <a href="#" id=@("chldsha"+item.Id) style="display: none" onclick=@("$('#childdiv" + item.Id + "').toggle();")>Показать/скрыть подзадачи</a>

                    @Html.ActionLink("Добавить подзадачу", "NewTaskWindow", new { pid = item.Id }, new { @class = "taskItem", @id = "addl" })

                    @Html.ActionLink("Редактировать...", "EditTaskWindow", new { id = item.Id }, new { @class = "taskItem", @id = "edl" })

                    @Ajax.ActionLink("Удалить", "DeleteTask", new { id = item.Id }, new AjaxOptions { OnSuccess = "$('#task" + item.Id + "').remove(); $('#childdiv" + item.Id + "').remove();" })

                </div>
            </div>
                <ul>                    
                    <div id="@("childdiv"+item.Id)"></div>
                </ul>
            }


    }



